<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Twitter Parser</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <!-- <input id="chat-message-input" type="text" size="100"/><br/> -->
    <input id="username-input" type="text" size="100"/><br/>
    <input id="username-submit" type="button" value="Send"/>
</body>
<script>

    var web_socket = new WebSocket('ws://' + window.location.host + '/');
    // console.log(web_socket)

    web_socket.onmessage = function(e) {
        console.log(e.data)
        var data = JSON.parse(e.data);
        var message = data['text'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    web_socket.onclose = function(e) {
        // console.log("Connection was closed unexpectedly")
        web_socket = new WebSocket('ws://' + window.location.host + '/');

        // console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#username-input').focus();
    document.querySelector('#username-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#username-submit').click();
        }
    };

    document.querySelector('#username-submit').onclick = function(e) {

        var usernameInputDom = document.querySelector('#username-input');
        var username = usernameInputDom.value;
        web_socket.send(JSON.stringify({
            'username': username
        }));

        // usernameInputDom.value = '';


    };
</script>
</html>